{% load static %}
<section class="menu_sidebar " >
    {% if user.is_staff %}
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact-Us</a></li>
       
    </ul>
    {% else %}
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact-Us</a></li>
        <li><a style="color: #fff; padding: 8px 20px; margin: 0.5rem;" href="{% url 'login' %}" class="signIn">Sign In</a></li>
    </ul>
    {% endif %}
</section>