{% extends 'base.html' %}
{% load static %}

{% block title %} | WELCOME {% endblock %}

{% block content %}
<!-- header -->
<header class="header" id="header">
    <div class="left">
       <p>Welcome to OPENION WEBSITE</p>
       <h1>We make <span class="blue">openions</span></h1> 
       <h1><span class="blue">Analysis</span>&<span class="orange">Influence</span></h1> 
       <h1>decision-makers</h1>
    </div>
    <div class="right">
       <img src="{% static 'images/banner.webp' %}"  alt="">
    </div>
 </header>
 <!-- services -->
 <section class="services" id="services">
    <div class="items">
        <div class="card">
            <img src="{% static 'images/data_analysis.webp' %}" alt="">
            <div class="card-content">
                <h3>Data Analysis</h3>
                <p>officia dolores est vero.
                officia dolores est vero</p>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'images/data_reporting.webp' %}" alt="">
            <div class="card-content">
                <h3>Data Reporting</h3>
                <p>officia dolores est vero.
                officia dolores est vero</p>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'images/data_analytics.webp' %}"alt="">
            <div class="card-content">
                <h3>Web Analytics</h3>
                <p>officia dolores est vero.
                officia dolores est vero</p>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'images/seo_suggestions.webp' %}" alt="">
            <div class="card-content">
                <h3>SEO Suggestions</h3>
                <p>officia dolores est vero.
                officia dolores est vero</p>
            </div>
        </div>
    </div>
</section>
<!-- about -->
<section class="about" id="about">
    <img src="{% static 'images/portfolio.webp' %}" alt="">
    <div class="about-content">
        <h1>what is <span class="blue">openion website?</span></h1>
        <p>
            Openion Website is a crucial aspect of modern business, and a data analysis agency can provide valuable insights and strategies to help companies make informed decisions. These agencies employ a team of experts with a wide range of skills, including data scientists, statisticians, and analysts, who work together to collect, process, and analyze large sets of data.
            One of the key services offered by a data analysis agency is data visualization. This involves creating interactive and visually appealing charts, graphs, and maps that make it easy to understand complex data sets. These visualizations can be used to identify patterns and trends, and can be shared with stakeholders to help inform decision-making.
        </p>
    </div>
</section>
<!-- offers -->
<section class="offers" id="offers">
    <h1>See what our agency <span class="blue">offers</span> <br> & what we <span class="orange">provide</span> </h1>
    <div class="items">
        <div class="card">
          <img src="{% static 'images/a.webp' %}" alt="">
          <p>Data Reporting</p>
        </div>
        <div class="card">
            <img src="{% static 'images/b.webp' %}" alt="">
            <p>Data Analysis</p>
        </div>
        <div class="card">
            <img src="{% static 'images/c.webp' %}" alt="">
            <p>Data Analytics</p>
        </div>
        <div class="card">
            <img src="{% static 'images/d.webp' %}" alt="">
            <p>SEO Suggestions</p>
        </div>
    </div>
</section>
<!-- NEWS -->
<section class="news" id="news">
    <div class="left">
        <img class="image" src="{% static 'images/form.webp' %}" alt="">
        <div class="card">
            <div class="card-up">
              <p><img width="30px" height="30px" src="{% static 'images/data.svg' %}" alt="">Data Analysis</p>
              <p><img width="30px" height="30px" src="{% static 'images/business-idea.svg' %}" alt="">Business ideas</p>
              <p><img width="30px" height="30px" src="{% static 'images/review.svg' %}" alt="">Customer Reviews</p>
            </div>
            <div class="card-down">
                <h1>SEO Agency & Digital Marketing</h1>
                <p>Lorem ipsum, dolor sit amet consectetur
                dicta provident non repudiandae totam mollitia!</p>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="card">
            <p><img width="30px" height="30px" src="{% static 'images/website.svg' %}" alt="">30 JANVIER 2023</p>
            <h1>New webistes & hackranks</h1>
            <p>Lorem ipsum, dolor sit amet consectetur</p>
        </div>
        <div class="card">
            <p><img width="30px" height="30px" src="{% static 'images/analysis.svg' %}" alt="">30 JANVIER 2023</p>
            <h1>SEO analytics & content ideas</h1>
            <p>Lorem ipsum, dolor sit amet consectetur</p>
        </div>
        <div class="card">
            <p><img width="30px" height="30px" src="{% static 'images/advertising.svg' %}" alt="">30 JANVIER 2023</p>
            <h1>SEO tips & digital marketing</h1>
            <p>Lorem ipsum, dolor sit amet consectetur</p>
        </div>
    </div>
</section>
<!-- FORM -->
<section class="contact" id="contact">
    <h2 class="hidden" >Feel Free to send us a <span class="blue">Message</span>   About your <span class="orange">website needs</span> </h2>
    <div class="left">
       <h2>Feel Free to send us a Message  About your website needs</h2>
       <p>
        <p> You can reach us by phone at (insert phone number), or by email at (insert email address). Our office hours are Monday through Friday, from 9am to 5pm (insert timezone).
        You can also fill out the contact form on our website, and one of our representatives will get back to you as soon as possible.</p>
       <div class="down" style="display: flex;align-items:center">
        <p>For any anquiry ,Call Us:</p>
        <p><img width="30px" height="30px" src="{% static 'images/phone.svg' %}" alt="">000-000-000</p>
       </div>
    </div>
   
    <div class="right">
      <form action="{% url 'contact' %}" id="formIndex" method="POST" >
        {% include 'partials/_alert.html' %}
        {% csrf_token %}
        <div class="form-control">
            <input type="text" name="name" placeholder="Name" class="name" required>
            <input type="text" name="surname" placeholder="Surname" class="surname" required>
        </div>
        <div class="form-control">
            <input type="text" name="email" placeholder="Your Email" class="email" required >
        </div>
        <div class="form-control">
            <textarea  placeholder="Message" name="message" id="" cols="30" rows="10" required></textarea>
        </div>
      </form>
      
     <a href="javascript:{document.getElementById('formIndex').submit()}" ><button class="send">Send Message</button></a>
    </div>
</section>

{% endblock %}