body{
    overflow-x: hidden;
    
}
.menu_sidebar{
    background-color: #fbfbea;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.5rem;
    padding: 1rem;
    display: none;
}

.menu_sidebar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.menu_sidebar ul a {
    font-size: 20px;
    color: #4682B4;
}
.menu_sidebar ul a:hover{
    color: #FF4433;
}
@media screen and (max-width:1180px) { 
    .main-header img{
        width: 300px;
        height: 300px;
        margin:10rem 1rem;
    }
    .main-header .main-left{
        width: 100%;
        padding-left: 2rem;
    }
    .main-header .main-left p{
        font-size: 24px;
    }
    .main-header .main-left h2{
        font-size: 26px;
    }
    
}
@media screen and (max-width:980px) { 
    .logo {
        margin-bottom: 0.5rem;
    }
   
}
@media screen and (max-width:730px) { 
   
    .main-header img{
        width: 200px;
        height: 200px;
        margin:10rem 1rem;
    }
    .main-header .main-left{
        width: 100%;
        padding-left: 2rem;
    }
    .main-header .main-left p{
        font-size: 18px;
    }
    .main-header .main-left h2{
        font-size: 15px;
    }
   
}
@media screen and (max-width:530px){
    .main-header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main-header .main-left,.main-header .main-right{
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 6rem;
    }
    .main-header .main-left p{
        font-size: 22px;
    }
    .main-header .main-left h2{
        font-size: 2rem;
    }
    .main-header .main-right img {
        width: 400px;
        height: 400px;
        margin:1rem 2rem;
    }
}